.build-the-community {
    text-align: center;

    &__title {
        font-family: $font-poppins;
        font-size: 2.2rem;

        @include tablet {
            font-size: 3.7rem;
        }

        @include desktop {
            font-size: 4.5rem;
        }
    }

    &__paragraph {
        font-family: $font-openSans;
        font-size: 1.4rem;
        color: $color-grey;

        @include tablet {
            font-size: 2.2rem;
        }

        @include desktop {
            font-size: 2.6rem;
        }
    }

    &__image {
        padding-top: 4.5rem;
        width: 100%;
        height: auto;

        @include tablet {
            padding-top: 9rem;
        }
    }
}