.wrapper {
    padding-left: 3rem;
    padding-right: 3rem;

    @include tablet {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include desktop {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .wrapper--medium {

        @include tablet {
            padding-left: 6rem;
            padding-right: 6rem;
        }

        @include desktop {
            padding-left: 12.3rem;
            padding-right: 12.3rem;
        }
    }

}

